<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h3 class="card-header">Olvide mi contraseña</h3>
        <div class="card-body">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="emailVal" class="form-control" [readOnly]="success"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        [ngClass]="{ 'is-invalid': submitted && f.emailVal.errors }" />
                </div>
                <div class="form-group"> 
                    <label>DNI</label>
                    <input type="number" formControlName="dniVal" class="form-control" [readOnly]="success"
                        [ngClass]="{ 'is-invalid': submitted && f.dniVal.errors }" />
                </div>

                <div [hidden]="!success"  class="alert alert-success mt-3 mb-0">Le hemos enviado un mail con su nueva contraseña </div>
                <hr/>

                <div class="form-group">
                    <button [disabled]="loading" [hidden]="success" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Enviar </button>
                    <a routerLink="../login" [hidden]="success" class="btn btn-link">Volver</a>
                </div>

                <div class="form-group">
                    <a class="button" [hidden]="! success" routerLink="../login" class="btn btn-primary">
                        <span *ngIf="loading" routerLink="../login" class="spinner-border spinner-border-sm mr-1"></span>
                        Volver </a>
                </div>

            </form>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error.error.message}}</div>
        </div>
    </div>
</div>