<div *ngIf="editUser">
    <h2>{{"Detalles del usuario: " + currentUser.username}}<a routerLink="/editPassword" class="btn float-right" style="border-color: black;"
        style="background-color: lightsteelblue;">Editar contraseña</a>
      </h2> 
    <h3>Editar perfil</h3>
    <form novalidate [formGroup]="createForm">
        <div class="form-group">
            <label>Nombre de usuario:*</label>
            <input type="text" [(ngModel)]="editUser.username" autocomplete="off" placeholder="Username"  [ngClass]="{ 'is-invalid': submitted && f.usernameVal.errors }"
                class="form-control" formControlName="usernameVal" />
        </div>

        <div class="form-group">
            <label>Email:*</label>
            <input type="text" [(ngModel)]="editUser.email" autocomplete="off" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.emailVal.errors }"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" formControlName="emailVal" />
        </div>

        <div class="form-group">
            <label>Rol</label>
            <input type="text" [(ngModel)]="currentUser.rol" style="text-transform:uppercase" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.rolVal.errors }"
                placeholder="Rol" formControlName="rolVal" class="form-control" readonly />
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label>Nombre/s:*</label>
                <input type="text" [(ngModel)]="editUser.persona.name" placeholder="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nameVal.errors }"
                    formControlName="nameVal" />
            </div>

            <div class="form-group col">
                <label>Apellido/s:*</label>
                <input type="text" [(ngModel)]="editUser.persona.lastname" placeholder="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastNameVal.errors }"
                    formControlName="lastNameVal" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label>DNI:*</label>
                <input type="number" [(ngModel)]="editUser.persona.dni" placeholder="DNI" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dniVal.errors }"
                    formControlName="dniVal" />
            </div>

            <div class="form-group col">
                <label>Telefono:*</label>
                <input type="number" [(ngModel)]="editUser.persona.telefono" placeholder="Telefono" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.telefonoVal.errors }"
                    formControlName="telefonoVal" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label>Ambito Laboral:*</label>
                <select class="form-control" formControlName="ambitoVal" [(ngModel)]="editUser.persona.ambito" placeholder="Seleccionar"  [ngClass]="{ 'is-invalid': submitted && f.ambitoVal.errors }"> 
                    <option value="comercio">Comercio</option>
                    <option value="comunicacion">Comunicacion</option>
                    <option value="educacion">Educacion</option>
                    <option value="finanzas">Finanzas</option>
                    <option value="industria">Industria</option>
                    <option value="salud">Salud</option>
                    <option value="seguridad">Seguridad</option>
                    <option value="transporte">Transporte</option>
                </select>
            </div>

            <div class="form-group col">
                <label>Estudios:*</label>
                <select class="form-control" formControlName="estudiosVal" [(ngModel)]="editUser.persona.estudios" placeholder="Seleccionar" [ngClass]="{ 'is-invalid': submitted && f.estudiosVal.errors }">
                    <option value="educacion inicial no finalizada">Inicial no finalizado</option>
                    <option value="educacion inicial finalizada">Inicial finalizado</option>
                    <option value="educacion primaria no finalizada">Primaria no finalizado</option>
                    <option value="educacion primaria finalizada">Primaria finalizado</option>
                    <option value="educacion secundaria no finalizada">Secundaria no finalizado</option>
                    <option value="educacion secundaria finalizada">Secundaria no finalizado</option>
                    <option value="educacion superior no finalizada">Superior no finalizado</option>
                    <option value="educacion superior finalizada">Superior finalizado</option>
                </select>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label>Confirme su contraseña para aplicar los cambios</label>
            <input type="password" [(ngModel)]="editUser.password" autocomplete="off" placeholder="Contraseña"  [ngClass]="{ 'is-invalid': submitted && f.passwordVal.errors }"
                class="form-control" formControlName="passwordVal" />
        </div>

        <hr>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error.error.message}}</div> 
        <div *ngIf="error"><hr> </div> 



        <div>
            <button (click)="goBack()" class="btn" style="border-color: black;"
              style="background-color: lightsteelblue;">Atrás
            </button>
            &nbsp;
            <button (click)="onSubmit()" class="btn btn-primary mr-1" style="border-color: black; background-color: gray;">
              Guardar
            </button>
          </div>

    </form>

    <p>(*) Campos obligatorios.</p>

    <!-- <app-toasts aria-live="polite" aria-atomic="true"></app-toasts> -->

</div>