<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h3 class="card-header">Registro exitoso</h3>
        <div class="card-body">
            <p> Se envio un mail con sus datos de inicio de sesion a su direccion de correo electronico. Recuerde mirar en spam en caso de no encontrarlo.</p>
            <p> Su usuario quedara con rol de "Invitado" hasta que un administrador lo valide. </p>
            </div>

            <div class="form-group">
                <a routerLink="../login" href="" class="btn btn-link">Iniciar sesion</a>
            </div>
    </div>
</div>